modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm next dev -p 5000"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
NEXTAUTH_URL = "https://21777dbb-d51e-425c-aaa2-3add929f757c-00-325oc8bznshug.sisko.replit.dev"
